.yith-expand {

}

.yith-expand {
  font-size: 0.8333em;
  font-weight: 700;
  line-height: 2em;
  flex-shrink: 1;
  flex-grow: 0;
  display: inline-flex;
  margin: 0;
  background-color: $darken1;
  text-decoration: none;
  font-family: $sans;
  padding: 1em 2em;
  color: white;
  transition: all 200ms ease;

  &:hover,
  &:focus {
    background-color: $accent;
  }
}
