.yith-figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;

  .yith-figure--preview {
    display: flex;

    .yith-figure--preview--inner {
      display: flex;
      background-color: $lighten2;
      position: relative;
      overflow: hidden;
      box-shadow: $box-shadow;

      img {
        margin: 0;
        display: block;
        position: relative;
        z-index: 0;
        width: 300px;
        max-width: 100%;
      }

      a,
      a:visited {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-shrink: 1;
        flex-grow: 0;
        align-items: center;
        justify-content: center;
        background-color: rgba(#000, 0);
        transition: all 190ms ease-in-out;
        color: transparent;
        font-size: 1em;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        cursor: pointer;
        box-sizing: border-box;
        box-shadow: none;
        font-weight: 700;
        line-height: 1.25em;
        font-family: $sans;

        &:hover,
        &:focus {
          color: white;
          text-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.75);
          background-color: rgba($darken1, 0.92);
          box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  figcaption {
    margin-top: 1em;
    font-family: $sans;
    position: relative;
    z-index: 0;
    line-height: 1.25rem;

    strong {
      font-size: 1em;
      font-weight: 800;
    }

    p {
      font-size: 0.8333em;
    }

    em {
      font-size: 0.7222em;
      font-weight: 300;
    }
  }
}
