.yith-projection {
  position: relative;

  .yith-structure {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: block;

    .yith-context {
      font-family: $sans;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      background-color: white;
      margin: 2em;
      width: 25vw;
      box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
      font-family: $sans;
      line-height: 1.25rem;

      &--html {
        padding: 1em 2em;
      }

      nav {
        margin-bottom: 1em;
        background-color: $darken1;
        display: flex;
        width: 100%;

        > a,
        > a:visited {
          padding: 0.75em 1.25em;
          font-size: 0.8333em;
          font-weight: 700;
          text-decoration: none;
          font-family: $sans;
          display: flex;
          justify-content: center;
          text-transform: uppercase;
          color: white;
          width: 50%;
          transition: all 200ms ease;



          &:hover,
          &:focus {
            background-color: $accent;
          }

          &:first-child {
            border: none;
          }
        }
      }

      > div {
        strong {
          font-size: 1em;
          font-weight: 800;
        }

        p {
          font-size: 0.8333em;
        }
      }
    }
  }

  .mirador-viewer {
    background-color: black;

    .mosaic-root {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .mosaic-tile {
        margin: 0;

        .mosaic-window-body header,
        .mirador-osd-navigation,
        .mirador-osd-info {
          display: none;
        }
      }
    }
  }
}
